/* body {
  background-color: slateblue;
  text-align: center;
} */

body {
  background-image: url(12345.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}


h1, p {
  margin: 8em auto;
  text-align: center;
  font-size:larger;
}

fieldset {
  border: none;
  padding: 3rem 0px;
  padding-bottom: 24px;
}

label {
  display: block;
  margin: 10px;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 30%;
  margin: 5em auto;
  height: 2em;
  background-color:white;
  min-width: 300px;

}

label[for=""] {
  text-align: center;
}

input,
textarea,
select {
  margin: 20px 0 0 0;
  width: 30%;
  min-height: 2em;
}


/* nav {
display: flex;
justify-content: space-evenly;
margin-top: 45px;
font-size: large;
display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
} */

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  #bio img {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 1rem;
  }
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }

#jumbotron {
position: static;
}
